{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<section id="register" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          
              <h4>
                Password Reset</h4>
                <p> We have sent you an e-mail. Please contact us if you do not receive it in a few minutes.</p>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>




{% endblock content %}