[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-environ = "==0.4.5"
psycopg2 = "==2.8.6"
pillow = "==8.1.0"
django-allauth = "*"
django-phonenumber-field = {extras = ["phonenumbers"],version = "==5.0.0"}
django-filter = "==2.4.0"
django-widget-tweaks = "==1.4.8"
django-crispy-forms = "==1.11.0"

[requires]
python_version = "3.8"
