{% extends 'base.html' %}
{% load static %}
{% block title %} | About us{% endblock title %} | About us
{% block content %}
 <section id="showcase-inner" class="py-5 text-white"  style="background-image: url({% static 'img/building.jpg' %});">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">About BT Rent Kontrol</h1>
          <p class="lead">We are firm taht's seekks to connect property owners with possible at for rent by paying less</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> About</li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>We Find you a dream Apartment</h2>
          <p class="lead">For clients who wants to pay less months</p>
          <img src=" {% static 'img/about.jpg' %}" alt="">
          <p class="mt-4">Looking for a an apartment that cost less and landlords or landladies can take their payment in less month from 3 months or less.Our goal is to help people have decent accomadation and also to help owners to live in hhamony with thier tenanats</p>
        </div>
        <div class="col-md-4">
 <h5 class="card-title">Pernalities Of The Month</h5>
        {% if is_mvp %}
          {% for realtor in is_mvp %}
          
           <div class="card">
           {% if realtor.photo %}
             <img class="card-img-top" src="{{realtor.photo.url}}" alt="Seller of the month">
           {% endif %}
          
            <div class="card-body">
             
              <h6 class="text-secondary">{{realtor.name}}</h6>
              
            </div>
          </div>
          {% endfor %}
          {% else %}
        <div class="col-gh-12">No Personality for the month</div>
        {% endif %}
         
        </div>
      </div>
    </div>
  </section>

  <!-- Work -->
  <section id="work" class="bg-dark text-white text-center">
    <h2 class="display-4">Join The family</h2>
    <h4>There is a family who cares about your shelter</h4>
    <hr>
    <a href="{% url 'listings' %} " class="btn btn-secondary text-white btn-lg">View Our Featured Listings</a>
  </section>

  <!-- Team -->
  <section id="team" class="py-5">
    <div class="container">
      <h2 class="text-center">Our Team</h2>
      <div class="row text-center">
        {% for realtor in  realtors%}
       <div class="col-md-4">
         
          <img src="{{realtor.photo.url}}" alt="" class="rounded-circle mb-3" height="50%" width="50%">
          <h4>{{realtor.name}}</h4>
          <p class="text-success">
            <i class="fas fa-award text-success mb-3"></i> Realtor</p>
          <hr>
          <p>
            <i class="fas fa-phone"></i> {{realtor.phone}}</p>
          <p>
            <i class="fas fa-envelope-open"></i>{{realtor.email}}</p>
              
        </div>
     {% endfor %}
        

        

        
    </div>
  </section>

{% endblock content %}